body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}
.bg-edf5ed {
  background-color: #edf5ed;
}

.bg-f5faf5 {
  background-color: #f5faf5;
}

.text-20451e {
  color: #20451e;
}

.text-008542 {
  color: #008542;
}

.max-w-custom {
  max-width: 1200px;
  margin: auto;
  padding: 2.5rem 0.75rem 2.5rem 0.75rem;
}

/* top header */
.top-header {
  width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0.75rem;
}

/* Language */
.dropdown-language button {
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-language button img {
  margin: 0 5px 0 0;
}
.dropdown-language button img,
.dropdown-language-content li img {
  width: 25px;
}
.dropdown-language button,
.dropdown-language-content li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #3c3c3c;
  padding: 0 10px;
}
.dropdown-language-content li:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}
.arrow-down {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #3c3c3c transparent transparent transparent;
  margin: 0 0 0 5px;
}

.dropdown-language button:hover {
  cursor: pointer;
}
/* Style for the dropdown-language content */
.dropdown-language-content {
  display: none;
  position: absolute;
  padding: 0;
  background-color: #f5f5f5;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
/* Style for the dropdown-language content items */
.dropdown-language-content li img {
  margin: 0 10px 0px 0px;
}
/* Style for the dropdown-language content items on hover */
.dropdown-language-content li:hover {
  cursor: pointer;
}
/* Show the dropdown-language content when the dropdown-language button is clicked */
.dropdown-language:focus-within .dropdown-language-content {
  display: block;
}
/* Animate the dropdown-language content */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* navbar */
a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a:hover {
  scale: 1.05;
  -webkit-transition-property: color, background;
  -webkit-transition-duration: 0.5s, 0.5s;
  -webkit-transition-timing-function: linear, ease-out;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  background-color: #1b401b;
  color: #fff;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar .logo {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

/* nav menu button */
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 2;
}

.navbar .menu-btn__lines::before,
.navbar .menu-btn__lines::after {
  content: "";
  position: absolute;
}

.navbar .menu-btn__lines,
.navbar .menu-btn__lines::before,
.navbar .menu-btn__lines::after {
  width: 1.5rem;
  height: 2px;
  background: #fff;
  transition: all 0.4s ease-in-out;
}

.navbar .menu-btn__lines::before {
  transform: translateY(-0.5rem);
}

.navbar .menu-btn__lines::after {
  transform: translateY(0.5rem);
}

.navbar .menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  list-style: none;
  transition: 0.3s ease;
}

.navbar ul li .arrow {
  transition: all 0.3s ease-out;
}

.navbar ul li a {
  text-decoration: none;
}
.dropdown-menu li a {
  border-bottom: 1px solid #e5e5e5;
  color: #000;
}
.dropdown-menu li:last-child a {
  border-bottom: 0px !important;
}

/* dropdown menu */

.navbar .dropdown {
  position: relative;
}
.navbar .dropdown .menu-item em {
  margin-left: 5px;
}

.navbar .dropdown-menu,
.menu-right {
  background: white;
  position: absolute;
  width: 250px;
  line-height: 30px;
  border-radius: 0 0 5px 5px;
  top: 42px;
  border-top: 1px solid white;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.navbar .menu-right {
  top: 0;
  left: 100%;
}
.navbar .dropdown-menu,
.menu-left {
  left: 0;
  right: unset;
}
.navbar .menu-left {
  left: -100%;
}

.navbar .menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 13.5px 30px;
}

.dropdown-menu li a {
  font-size: 16px;
}

.menu-item.first-item {
  padding: 0.5rem 1rem;
}

.navbar .dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.navbar .dropdown-right:hover .menu-right {
  left: 100%;
  opacity: 1;
  visibility: visible;
}

.navbar .dropdown-right:hover .menu-left {
  left: -100%;
}

/* mega menu  */

.navbar .mega-menu {
  position: absolute;
  left: 0;
  width: 100vw;
  top: 65px;
  border-top: 1px solid #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-out 0s, visibility 0.1s linear 0s;
}

.mega-menu .content {
  background: #25183e;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  -webkit-box-shadow: 0 20px 50px 0 rgb(0 0 0 / 5%);
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 5%);
}

.blog .content {
  grid-template-columns: repeat(4, 1fr);
}

.content .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 3rem;
}

.content .col .img-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 20vw;
  overflow: hidden;
}

.content .col .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content .col img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.content .col .img-wrapper:hover img {
  transform: scale(1.1);
}

.content .col .menu-title {
  font-size: 1.2rem;
  line-height: 3rem;
  font-weight: bold;
}

.content .col p {
  line-height: 1.2rem;
  margin-top: 5px;
}

.content .col .mega-links {
  border-left: 1px solid #3c3c3c;
}

.content .col .read-more {
  font-size: 16px;
  display: flex;
  padding-top: 1rem;
  /* color: #03a9f4; */
  transition: color 0.3s ease;
  justify-content: flex-end;
  padding-right: 10px;
}

.col .mega-links li,
.col .mega-links li a {
  padding: 0 1rem;
}

.menu-items li:hover .mega-menu {
  opacity: 1;
  visibility: visible;
}

/* animation menu hamburger */
.icon-sm,
.logo-sm {
  display: none !important;
}

.icon-pc {
  display: block !important;
}

/* Animation move of background */
.moving-bg {
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: cover;
  animation: move-bg 60s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes move-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1920px 0;
  }
}
/* Carousel */
.carousel .slick-list .slick-track {
  display: flex;
  gap: 30px;
}

.carousel-item {
  display: flex !important;
  justify-content: center !important;
}

.carousel-item img {
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  height: 100px;
  width: auto;
}

.slick-prev::before,
.slick-next::before {
  content: "" !important;
}

.slick-prev,
.slick-next {
  font-size: 20px !important;
  color: #414141 !important;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 10;
}

.slider-filter ul li:not(:last-child) {
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}

/* Course, News */
.news-content > div:not(:last-child),
.course-content > div:not(:last-child) {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #008542;
}

.active {
  border-bottom: 2px solid white;
}

/* Responsive style */
@media screen and (max-width: 1200px) {
  .logo-sm {
    display: block !important;
    padding: 20px;
    text-align: end;
  }

  .icon-sm {
    display: block !important;
  }
  .icon-pc {
    display: none !important;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  a,
  a:hover {
    color: #000;
  }

  .top-header {
    width: 100%;
    font-size: 14px;
    display: block;
  }

  .navbar {
    padding: 10px 0;
    width: 100vw;
  }

  .navbar .menu-item {
    padding-right: 1rem;
  }

  .overflow {
    overflow: hidden;
  }

  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 500;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .overlay--active {
    opacity: 1;
    visibility: visible;
  }

  .menu-btn {
    display: flex;
  }

  .navbar .menu-items {
    position: fixed;
    height: 100vh;
    max-height: initial;
    overflow-y: auto;
    width: 80%;
    top: 0;
    right: 0;
    background: #fff;
    display: block;
    transition: 0.3s ease-out;
    padding-bottom: 100px;
    z-index: 100;
    transform: scaleX(0);
  }

  .navbar .dropdown-menu,
  .menu-right {
    box-shadow: none;
  }

  .menu-items.open {
    transform: translateY(0);
  }

  .dropdown-menu li,
  .menu-items li {
    border-top: 1px solid #e5e5e5;
  }

  .dropdown-menu li a {
    border-bottom: 0px;
  }

  .menu-items.menu-item {
    padding: 10px 1rem;
    display: block;
    font-size: 16px;
    padding-left: 30px;
  }

  .menu-items .menu-right .menu-item {
    padding-left: 60px;
  }

  .menu-items .dropdown-right .right-arrow {
    transform: rotate(90deg);
  }

  .menu-item.first-item {
    padding: 1rem 1rem;
  }

  /* DROPDOWN, MEGA MENUS */
  .menu-items .dropdown-menu,
  .menu-items .menu-right,
  .menu-items .mega-menu {
    position: static;
    opacity: 1;
    top: 4rem;
    visibility: visible;
    width: auto;
    max-height: 0;
    transform: scaleX(0);
    transform-origin: right;
    overflow: hidden;
    transition: all 0.5s ease;
    background-color: #fff;
  }

  .menu-items .dropdown-menu,
  .menu-items .menu-right {
    width: 100%;
  }

  .menu-items .mega-menu .col {
    padding-left: 1rem;
  }

  .navbar .sample {
    border-top: none;
  }

  .expand-btn.open + .sample {
    max-height: 100%;
    transform: scaleZ(1);
  }

  .expand-btn.open + .blog.sample {
    max-height: 100%;
    transform: scaleZ(1);
    max-width: fit-content;
  }

  .sample li {
    margin: 0;
  }

  .sample li:last-child {
    border-bottom: none;
  }

  .sample li a {
    font-size: 1rem;
  }
  .contact {
    display: none !important;
  }
}
